<div class="registro-container">
  <h2>{{accion}}</h2>
  <form [formGroup]="registroForm" (ngSubmit)="submitRegistro()">
    <div class="form-group">
      <label for="nombre">Nombre:</label>
      <input type="text" id="nombre" formControlName="nombre">
      <span class="error-message" *ngIf="registroForm.controls.nombre.errors?.required">Valor obligatorio</span>
    </div>
    <div class="form-group">
      <label for="identificacion">Identificación:</label>
      <input type="text" id="identificacion" formControlName="identificacion">
      <span class="error-message" *ngIf="registroForm.controls.identificacion.errors?.required">Valor obligatorio</span>
    </div>
    <div class="form-group">
      <label for="direccion">Dirección:</label>
      <input type="text" id="direccion" formControlName="direccion">
      <span class="error-message" *ngIf="registroForm.controls.direccion.errors?.required">Valor obligatorio</span>
    </div>

    <div class="form-group">
      <label for="contrasena">Contraseña:</label>
      <input type="password" id="contrasena" formControlName="contrasena">
      <span class="error-message" *ngIf="registroForm.controls.contrasena.errors?.required">Valor obligatorio</span>
    </div>
    <div class="form-group">
      <label for="edad">Edad:</label>
      <input type="number" id="edad" formControlName="edad">
      <span class="error-message" *ngIf="registroForm.controls.edad.errors?.required">Valor obligatorio</span>
    </div>

    <div class="form-group">
      <label for="estado">Seleccione el Estado:</label>
      <select id="estado" formControlName="estado">
        <option *ngFor="let dato of tiposEstado" [value]="dato">{{ dato }}</option>
      </select>
      <span class="error-message" *ngIf="registroForm.controls.estado.errors?.required">Valor obligatorio</span>
    </div>

    <div class="form-group">
      <label for="genero">Seleccione el Genero:</label>
      <select id="genero" formControlName="genero">
        <option *ngFor="let dato of tiposGenero" [value]="dato">{{ dato }}</option>
      </select>
      <span class="error-message" *ngIf="registroForm.controls.genero.errors?.required">Valor obligatorio</span>
    </div>

    <div class="form-group">
      <label for="telefono">Teléfono:</label>
      <input type="tel" id="telefono" formControlName="telefono">
      <span class="error-message" *ngIf="registroForm.controls.telefono.errors?.required">Valor obligatorio</span>
    </div>
    <button type="submit">Guardar</button>
    <a class="blue-button" routerLink="/clientes">Atrás</a>
  </form>

</div>