.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #ffffff;
    color: black;
    padding: 10px;
    text-align: left;
    border-bottom:inset;
}

.content {
    display: flex;
    flex: 1;
}

.sidenav {
    background-color: white;
    color: black;
    width: 200px;
    padding: 5px;
    border-right: inset;
    border-left: inset;
    border-bottom: inset;

    ul {
        list-style: none;
        padding: 0;

        li {
            margin-bottom: 10px;
            border-bottom: inset;

            a {
                color: black;
                text-decoration: none;
            }
        }
    }
}

main {
    flex: 1;
    padding: 20px;
    overflow: auto;
}

