.success-message {
    background-color: #4CAF50;
    /* Color de fondo verde */
    color: #fff;
    /* Texto en color blanco */
    padding: 10px;
    border-radius: 5px;
    /* Bordes redondeados */
    font-size: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
  }

  .error-message {
    background-color: #ff0000;
    /* Color de fondo verde */
    color: #fff;
    /* Texto en color blanco */
    padding: 10px;
    border-radius: 5px;
    /* Bordes redondeados */
    font-size: 16px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
  }