/* You can add global styles to this file, and also import other style files */
.error-message {
  color: red;
  font-size: 10px;
}

.blue-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.blue-button:hover {
  background-color: #0056b3;
}


//estilos formulario
.registro-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 10px;

  h2 {
    text-align: center;
  }

  .form-group {
    margin-bottom: 10px;

    label {
      display: block;
    }

    input {
      width: 100%;
      padding: 5px;
      border: 1px solid #ccc;
      border-radius: 3px;
    }
  }

  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    cursor: pointer;
  }
}

//Estilso tablas


.tabla-container {
  margin: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.search-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

  input[type="text"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }

  .yellow-button {
    background-color: yellow;
    color: #000;
    border: inset;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;

  }
}

table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}


/// combo 

select {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

select:hover {
  border-color: #555;
}
